.game-tutorial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-tutorial-container .game-tutorial-content {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.game-tutorial-container > p {
  font-size: 2em;
  width: 350px;
  text-align: center;
  font-weight: bold;
}

.game-tutorial-container > p:last-child {
  padding-bottom: 12px;
  font-weight: bold;
}

.game-tutorial-container .game-banner > p {
  font-size: 1em;
  width: 300px;
}

.game-tutorial-container > button {
  margin-top: 48px;
  background-color: #e87518;
  width: 350px;
  height: 64px;
  color: white;
  border-radius: 8px;
  font-size: 2em;
}
.game-tutorial-container > img {
  margin-top: 96px;
  margin-bottom: 48px;
  width: 300px;
  height: 150px;
}

.game-tutorial-container .game-banner > img {
  height: 60vh;
  margin: 20px;
}
@media screen and (max-width: 1025px) {
  .game-tutorial-container > img {
    width: 200px;
    height: 100px;
  }
  .game-tutorial-container .game-banner > img {
    height: 20vh;
    margin: 20px;
  }

  .game-tutorial-container .game-banner > p {
    width: 200px;
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .game-tutorial-container .game-banner > img {
    height: 25vh;
  }
}

@media screen and (max-width: 600px) {
  .game-tutorial-container .game-tutorial-content {
    flex-direction: column;
    align-items: center;
  }

  .game-tutorial-container .game-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .game-tutorial-container .game-banner > p {
    width: 300px;
    padding: 0px;
  }
  .game-tutorial-container .game-banner > img {
    height: 20vh;
  }

  .game-tutorial-container > button {
    width: 200px;
    font-size: 1.5em;
  }

  .game-tutorial-container .game-banner > img {
    height: 40vh;
  }

  .game-tutorial-container > p {
    font-size: 2em;
    width: 300px;
    text-align: center;
  }
}
