footer {
  background-color: #e87518;
}

.footer-container {
  padding-bottom: 40px;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
}
.footer-container .row {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-container .row-label > p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 16px;
  font-weight: bold;
}
.footer-container .row-label > div {
  width: 48vw;
  height: 2px;
  background-color: #ffffff;
}

.footer-container .row > img {
  margin-top: 16px;
  margin-right: 20px;
  height: 32px;
  width: 32px;
}

.footer-container > div {
  width: 682px;
  display: flex;
  flex-direction: row;
}

.footer-container > div {
}

@media screen and (max-width: 405px) {
  .footer-container {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .footer-container .row-label > p {
    font-size: 1em;
  }
  .footer-container .row > img {
    height: 30px;
    width: 30px;
  }
}
