.game-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-modal .canvas-wrapper {
  width: calc(90vh / 2);
  height: calc(90vh);
  margin: auto;
}

.game-modal canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}
