header {
  background-image: url("../assets/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 800px;
}
.header-container > div {
  padding-top: 200px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  max-width: 619px;
}

.header-container .title {
  margin-top: 16px;
  text-shadow: 0 6px 8px #bf4f10;
  color: white;
  font-size: 3em;
  line-height: 1.1;
}

.header-container > div > img {
  width: 210px;
}

.header-container > div > p:last-child {
  color: white;
  margin-top: -24px;
  text-shadow: 0 6px 8px #dc743a;
  font-size: 1.1em;
}

@media screen and (max-width: 1025px) {
  header {
    background-position-y: 0px;
    min-height: 800px;
  }
  .header-container > div {
    padding-top: 200px;
    padding-left: 220px;
  }

  .header-container .title {
    font-size: 2em;
  }
  .header-container > div > p:last-child {
    font-size: 0.5em;
  }
  .header-container > div > img {
    width: 200px;
  }
}

@media screen and (max-width: 769px) {
  header {
    min-height: 600px;
  }
  .header-container > div > img {
    width: 150px;
  }

  .header-container > div {
    padding-top: 140px;
    padding-left: 170px;
  }
  .header-container .title {
    font-size: 1em;
  }
  .header-container > div > p:last-child {
    font-size: 0.5em;
    margin-top: 0px;
  }
}

@media screen and (max-width: 415px) {
  header {
    background-image: url("../assets/banner-mb.png");
  }
  .header-container > div {
    padding-top: 120px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .header-container > div > img {
    width: 180px;
  }
  .header-container .title {
    font-size: 2.2em;
  }
  .header-container > div > p:last-child {
    font-size: 1em;
    width: 250px;
    margin-top: -15px;
  }
}
