.register-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-modal form {
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-modal img {
  height: 128px;
}

.register-modal h1 {
  font-size: 1.5em;
  text-align: center;
  width: 350px;
}

.register-modal input {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px;
  width: 350px;
  margin-bottom: 16px;
  font-size: 1em;
}

.register-modal button {
  background-color: #e87518;
  color: white;
  border-radius: 8px;
  font-size: 1.5em;
  padding: 12px 64px;
  border: none;
  cursor: pointer;
}

.error {
  font-size: 0.8em;
  color: #f32013;
}

@media screen and (max-width: 600px) {
  .register-modal form {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  .register-modal h1 {
    width: 100%;
  }
  .register-modal input {
    width: 100%;
  }
}
